**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/node_modules
**/.gitignore
**/*.md
**/*.user
**/*.suo
**/*.cache
**/TestResult*
**/BenchmarkDotNet.Artifacts
**/uploading
**/backup
**/.terraform
**/*.tfstate*
